@using BTCPayServer
@using BTCPayServer.Plugins.CustomLiquidAssets.Controllers
@using Microsoft.AspNetCore.Routing
@inject BTCPayNetworkProvider BTCPayNetworkProvider;
@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var isLiquid = nameof(StoreLiquidController).StartsWith(controller, StringComparison.InvariantCultureIgnoreCase);
}
@if (BTCPayNetworkProvider.GetAll().OfType<ElementsBTCPayNetwork>().Any())
{
    <a class="nav-link @(isLiquid ? "active" : string.Empty)" asp-route-storeId="@this.Context.GetRouteValue("storeId")" asp-action="GenerateLiquidScript" asp-controller="StoreLiquid">Liquid</a>
}
