@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Plugins.FixedFloat
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    var isActive = !string.IsNullOrEmpty(storeId) && ViewContext.RouteData.Values.TryGetValue("Controller", out var controller) &&  controller is not null && 
                   nameof(FixedFloatController).StartsWith(controller.ToString(), StringComparison.InvariantCultureIgnoreCase);
}
@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a asp-area="" asp-controller="FixedFloat" asp-action="UpdateFixedFloatSettings" asp-route-storeId="@storeId" class="nav-link js-scroll-trigger @(isActive? "active": string.Empty)">
            <img role="img" class="icon" src="~/Resources/assets/ff.png" style="width:14px; margin-right: 10px;"/>
            <span>FixedFloat</span>
        </a>
    </li>
}
